<div class="" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Delivery Instructions:</b> {{instructions}}</p>
        <p><b>Delivery Address:</b> {{delivery}}</p>
      </div>
      <div class="modal-footer">
        <button (click)="toggleState()" [hidden]="!hideAnimation" class="btn btn-success">Confirm</button>
        <div [@myAnimation]="state" [hidden]="hideAnimation" class="mr-5 card card-title bg-dark" style="color: aliceblue">Payment Successful!</div>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close.emit()">Close</button>
      </div>
    </div>
  </div>
</div>
