<!--user name -->
<div class="card">
  <!-- if the user is logged in; else  display the row with #noProfile -->
  <div class="card-body">
    <div class="row" *ngIf="userSet; else noProfile">
      <div class="col-10">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text text-secondary">
         {{user.phone}} | {{user.email}}
        </p>
      </div>

      <div class="col-2">
        <button class="btn btn-primary mt-3" (click)="editUser()">Edit</button>
      </div>
    </div>

    <ng-template #noProfile class="card-text text-secondary">
      You have not yet set your details. Please save them below to continue.
      <!-- Below is a form to for user to enter name,surname,phone number and email address-->
      <div class="card">
        <div class="card-body">
          <form #UserInfo="ngForm">
            <!-- Email -->
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                ngModel
              />
              <small id="emailHelp" class="form-text text-muted"
                >We will use this email to send your order confirmation</small
              >
            </div>
            <!-- End of Email -->

            <!-- Name -->
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                placeholder="Enter your full name"
                ngModel
              />
            </div>
            <!-- End of Name -->

            <!-- Phone Number -->
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="Enter your phone number"
                ngModel
              />
            </div>
            <!-- End of Phone Number -->



            <button class="btn btn-primary" (click)="saveUser(UserInfo)" type="button">Submit</button>
          </form>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <p class="card-text">
        <b>Manage Addresses</b>
        <img src="assets/icons/arrow_right.svg" id="icons" />
      </p>
    </div>

    <div class="row mt-4">
      <p class="card-text" id="past_orders"><b>Past Orders</b></p>
    </div>

    <!-- loop through the pastOrders variable and create rows for the values-->
    <div
      *ngFor="let orders of pastOrders"
      style="border-bottom: dashed 2px black"
    >
      <div class="row mb-2" *ngFor="let history of orders">
        <div class="col-10">
          <p class="text-secondary">{{ history.name }}</p>
        </div>

        <div class="col-2">
          <img src="assets/icons/download_confirmation.svg" id="icons" />
        </div>
      </div>
    </div>

    <button class="btn btn-outline-primary mt-3" (click)="reOrder()">Reorder</button>

  </div>
</div>
