<!--create a card that contains user name -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-10">
        <h5 class="card-title">Jonel Albuquerque</h5>
        <p class="card-text text-secondary">
          079 715 0948 | u21598267@tuks.co.za
        </p>
      </div>

      <div class="col-2">
        <a href="#" class="btn btn-primary mt-3">Edit</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <p class="card-text"><b>Manage Addresses</b></p>
    </div>

    <div class="row mt-4">
      <p class="card-text" id="past_orders"><b>Past Orders</b></p>
    </div>

    <!-- loop through the pastOrders variable and create rows for the values
    <div
      *ngFor="let test of pastOrders"
      style="border-bottom: dashed 2px black"
    >
      <div class="row mb-2" *ngFor="let history of test">
        <div class="col-10">
          <p class="text-secondary">{{ history.name}}</p>
        </div>
      </div>


    </div>-->
  </div>
</div>
