.container-fluid{
  background-size: cover;
}

img{
  width: 90%;
  height: 120px;
  border-radius: 55px;
}

.col-3{
  height: fit-content;
  max-height: 50%;
}

.row{
  max-height: 200px;
}

#card-img-rest{
  border-radius: 15px;
  margin-bottom: 5px;
}

#rating{
  max-width: 15px;
  max-height: 15px;
}












