<div class="container-fluid">
  <!-- image-grid row 1 -->
  <div class="row mt-2">
    <div class="col-3">
      <img src="./assets/1.jpeg" class="img-fluid" alt="Responsive image" />
    </div>

    <div class="col-3">
      <img src="./assets/2.jpg" class="img-fluid" alt="Responsive image" />
    </div>

    <div class="col-3">
      <img src="./assets/3.jpg" class="img-fluid" alt="Responsive image" />
    </div>

    <div class="col-3">
      <img src="./assets/4.jpg" class="img-fluid" alt="Responsive image" />
    </div>
  </div>
  <!-- end of image-grid row 1 -->
</div>

<!--create a bootstrap styled heading-->
<h1 class="text-center mt-5">Cart</h1>

<!-- create a bootstrap styled card for each value in orders making use of ngFor -->
<div class="container-fluid">
  <div class="cards" id="cards" >



  </div>
</div>
